*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 1.5rem;
    background: rgb(225, 222, 222);
   height: 100vh;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr; 
    gap: 1rem;

}

.container > *{
     background-color: rgb(159, 241, 241); 
}

header{
    grid-column: span 3;
    /* justify-self: center; */
    padding: 2rem;
    display: flex;
    justify-content: center;
}
figure{
    /* justify-self: center; */
    padding: 15px;
    grid-row: span 2;
}
section{
    display: flex;
    justify-content: center;
    /* justify-self: center; */
    grid-column: 3/4;
    grid-row: span 2;
}

aside{

    grid-column: 2 / 3;
    grid-row: 2/3  ;
    /* justify-self: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    grid-column: 2 / 3;
    grid-row: 3/4 ;
    /* justify-self: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}