*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.grid-container{
    background: rgb(129, 250, 250);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;

}

header{
    grid-column: span 6;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }


#hangman{
    grid-column: span 6;
    justify-self: center;
    
}
  #guess-button{
    background: blue;
    grid-column: 5, 6;
  }

  #word-display{
    grid-column: 2;
    border: 2px black solid;
  }

  #guesses{
    grid-column: 1;
  }